/*
页头
 */
.header>ul{
    float: left;
    padding: 16px 20px;
    margin-left: 200px;
}
/*小三角*/
.header_main>i.h_m_i1{
    font-size: 20px;
    color: #FFF;
    position: absolute;
    top: -20px;
    left: 449px;
    z-index: 2;
}
.header_main>i.h_m_i2{
    font-size: 20px;
    color: #FF838A;
    position: absolute;
    top: -21px;
    left: 455px;
    z-index: 2;
}
/*主体*/
.main{
    width: 1000px;
    margin: 20px auto;
}
.banner{
    width: 100%;
}
.banner>img{
    width: 100%;
}
.banner>div.b_m{
    float: left;
    width: 500px;
    margin-top: 20px;
}
.b_m>img{
    float: left;
    width: 80px;
}
.b_m>h2{
    float: left;
    width: 400px;
    font-size: 30px;
    margin-left: 14px;
}
.b_m>p{
    float: left;
    color: #CCC;
    margin-left: 14px;
    margin-top: 12px;
}
.banner>ul{
    float: right;
    margin-top: 20px;
}
.banner>ul>li{
    float: left;
    width: 56px;
    height: 56px;
    padding: 4px;
}
.banner>ul>li>a{
    text-decoration: none;
}
.banner>ul>li>a>img{
    width: 30px;
    height: 30px;
    float: left;
    margin-left: 12px;
}
.banner>ul>li>a>p{
    float: left;
    width: 100%;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #666666;
}
/*主体左*/
.main_left{
    float: left;
    width: 680px;
}
.m_l_header{
    width: 100%;
    border-bottom: 1px solid #CCC;
    position: relative;
}
.m_l_header>ul{
    float: left;
    margin-top: 20px;
    padding: 4px 0px;
}
.m_l_header>ul>li{
    float: left;
    font-size: 20px;
    padding-right: 10px;
    cursor: pointer;
}
.m_l_header>ul>li.m_l_h_li{
    color: red;
}
.m_l_header>a{
    display: block;
    float: right;
    text-decoration: none;
    font-size: 14px;
    color: #000;
    padding-left: 20px;
    margin-top: 30px;
}
.m_l_header>a.m_l_h_a{
    color: red;
}
.m_l_header>span{
    width: 100px;
    height: 3px;
    background-color: red;
    position: absolute;
    bottom: -2px;
    left: 0px;
    z-index: 2;
}
.main_left>table{
    width: 100%;
}
.main_left>table{
    display: none;
}
.main_left>table.m_l_table{
    display: block;
}
.main_left>table>tbody>tr>td{
    padding-top: 25px;
    padding-right: 25px;
    position: relative;
}
.main_left>table>tbody>tr>td>a{
    text-decoration: none;
}
.main_left>table>tbody>tr>td>a>img{
    width: 210px;
}
.main_left>table>tbody>tr>td>a>h2{
    display: none;
    width: 210px;
    text-align: center;
    font-size: 20px;
    color: #FFF;
    background: rgba(0,0,0,0.5);
    position: absolute;
    bottom: 22px;
    left: 0px;
}
.main_left>table>tbody>tr>td>a>p{
    display: none;
    width: 210px;
    text-align: center;
    color: #FFF;
    background: rgba(0,0,0,0.5);
    position: absolute;
    bottom: 4px;
    left: 0px;
}
.m_l_nav{
    width: 100%;
    padding: 24px 0px;
    padding-left: 180px;
    overflow: hidden;
}
.m_l_nav>p{
    float: left;
    font-size: 14px;
    padding: 10px 14px; 
    border: 1px solid #CCC; 
    margin-left: 10px;
}
.m_l_nav>p.m_l_nav_p{
    color: #FFF;
    background-color: red;
    border-color: red;
}
/*主体右*/
.main_right{
    width: 280px;
    float: right;
}
/*主右一*/
.m_r_main{
    float: left;
    width: 100%;
    margin-top: 20px;
}
.m_r_m_header{
    width: 100%;
    border-bottom: 1px solid #CCC;
    position: relative;
}
.m_r_m_header>p{
    width: 100%;
    font-size: 20px;
    color: red;
    padding: 4px 0px;
}
.m_r_m_header>span{
    width: 140px;
    height: 3px;
    background-color: red;
    position: absolute;
    bottom: -2px;
    left: 0px;
    z-index: 2;
}
.m_r_main>ul{
    width: 100%;
    padding: 14px 0px;
}
.m_r_main>ul>li{
    width: 100%;
    padding: 6px 0px;
}
.m_r_main>ul>li>i{
    font-size: 12px;
}
.m_r_main>ul>li>a{
    font-size: 14px;
    color: #000;
    text-decoration: none;
}
.m_r_main>ul>li>a:hover{
    color: red;
}
/*主右二*/
.m_r_m_header>span.m_r_m_h_span{
    width: 180px;
}
.m_r_main>ul.m_r_m_ul{
    width: 100%;
}
.m_r_main>ul.m_r_m_ul>li{
    float: left;
    width: 60px;
    padding-left: 12px;
}
.m_r_main>ul.m_r_m_ul>li.m_r_m_ulli{
    padding-left: 0px;
}
.m_r_main>ul.m_r_m_ul>li>a{
    text-decoration: none;
}
.m_r_main>ul.m_r_m_ul>li>a>img{
    width: 60px;
    height: 60px;
}
.m_r_main>ul.m_r_m_ul>li>a>p{
    width: 60px;
    color: #000;
    text-align: center;
}